// color

$color-body: #262626;
$color-dark: #333;
$color-white: #fff;
$color-primary: #0057ff;

// font-size

$font-nav: 18px;

// border radiusss

$border-radius-base: 5px;

// transition

$header-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
