.card-post {
    background: #fff;
    border-radius: $border-radius-base;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    transition: $transition;
    overflow: hidden;
}

.card-post__img {
    & img {
        display: block;
        width: 100% !important;
        height: 320px !important;
        -o-object-fit: cover !important;
        object-fit: cover !important;
    }
}

.card-post__info {
    padding: 15px;
    position: relative;
    & h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 0 10px;
        & a {
            color: $color-dark;
            font-size: $font-body-1;
        }
    }
}
